.carousel-img img{
    height: 580px;
}

.carousel-img{
    width: 100%;
}
.carousel-img::after{
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
    display: inline-block;
    background-position: left;

    background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}